# ============================================
#  Configuration de la base de données
# ============================================

DB_HOST=localhost
DB_PORT=5433
DB_NAME=messagerie_db
DB_USERNAME=votre_utilisateur
DB_PASSWORD=votre_mot_de_passe

# ============================================
#  Configuration du serveur
# ============================================

SERVER_HOST=localhost
SERVER_PORT=5000
